{erl_opts, [
    debug_info,
    warn_unused_vars,
    {platform_define, "^[0-9]+", namespaced_types}
]}.

{deps, [
    {jsx, "3.1.0"}
]}.

{plugins, [
    rebar3_hex,
    rebar3_lint
]}.

{dialyzer, [
    {plt_extra_apps, [jsx]},
    {plt_location, local},
    {plt_prefix, "githubiot"},
    {warnings, [
        unmatched_returns,
        error_handling,
        underspecs
    ]}
]}.

{profiles, [
    {test, [
        {deps, [
            {proper, "1.4.0"}
        ]}
    ]}
]}.
