{erl_opts, [
    debug_info,
    warn_unused_vars,
    {platform_define, "^[0-9]+", namespaced_types}
]}.

{deps, [
    {jsx, "3.1.0"}
]}.

{plugins, [
    rebar3_hex,
    rebar3_lint
]}.

{profiles, [
    {test, [
        {deps, [
            {proper, "1.4.0"}
        ]},
        {erl_opts, [
            {dialyzer, [
                {warnings, [no_unknown, no_return, no_unused]},
                {plt_extra_apps, [jsx]}
            ]}
        ]}
    ]}
]}.
