%% 1) Nama app dan versi
{app, githubiot}.             %% atom sama seperti {name,<<"githubiot">>}
{version, "0.1.0"}.           %% ganti sesuai versi yang mau kamu rilis

%% compiler options
{erl_opts, [
    debug_info,
    warn_unused_vars,
    {platform_define, "^[0-9]+", namespaced_types}
]}.

%% dependencies & plugins
{deps, [
    {jsx, "3.1.0"}
]}.
{plugins, [
    rebar3_hex,
    rebar3_lint,
    rebar3_ex_doc
]}.

%% 2) Metadata Hex.pm
{hex, [
    {name, <<"githubiot">>},
    {description, <<"GitHub IoT Library for Erlang">>},
    {licenses, [<<"MIT">>]},
    {links, [
        {<<"GitHub">>, <<"https://github.com/4211421036/githubioterl">>}
    ]},
    {maintainers, [<<"Nama Kamu <email@domain>">>]},    %% tambahkan ini
    {files, [                                  %% file & direktori yang di‐include
        "src", "include", "rebar.config", "README.md", "LICENSE"
    ]},
    {doc, ex_doc}
]}.

%% docs & dialyzer config
{ex_doc, [
    {source_url, <<"https://github.com/4211421036/githubioterl">>},
    {extras, [<<"README.md">>]},
    {main, <<"readme">>}
]}.
{dialyzer, [
    {plt_extra_apps, [jsx, public_key, ssl, crypto]},
    {plt_location, local},
    {plt_prefix, "githubiot"},
    {warnings, [
        unmatched_returns,
        error_handling,
        underspecs
    ]},
    {get_warnings, true}
]}.

%% profil test
{profiles, [
    {test, [
        {deps, [
            {proper, "1.4.0"}
        ]}
    ]}
]}.
